.App {
  text-align: center;
  background-color: black;
}

body{
    background-color: #F7F3F3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-container{
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn--alphabet{
  margin-left: 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 600;
}

.btn--alphabet:focus{
  outline: none;
}

.btn--alphabet:hover{
  color: grey;
}

.big_txt{
  font-size: 2rem;
  padding-top: 10px;
}

.countries_container{
  margin-bottom: 40px;
}

.country-list{
  margin-top: 10px;
  line-height: 1.5rem;
  position: relative;
}

.country{
  padding-top: 20px;
  margin: 10px 10px 10px 10px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(140deg, #D513D7, #E1CC20);
  border-radius: 22px;
  min-height: 200px;
  text-align: center;  
}

.country:hover{
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  transform: translateY(-10px);
  box-shadow: 0px 2px 7px 2px grey;
  /*transform: translate(-30px, 0px) rotateX(10deg) rotateY(-40deg);*/
}

.country__img{
  margin: 0 auto;
  max-width: 100%;
}

.country__name{
  margin-left: 20px;
}

.info_container{
  padding-top: 60px;
}

.info_nav{
  font-size: 20px;
  margin-bottom: 40px;
}

.medium_txt{
  font-size: 1.2rem;
}

.subtext{
  font-size: 1.2rem;
  margin-top: 40px;
  text-align: center;
}

a:hover{
  text-decoration: none;
}

h1{
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
